.section {
  background-color: #222;
  padding: 3em;
}

.title {
  width: 90%;
  margin: 30px auto 0px auto;
  text-align: center;
  font-size: 2em;
  color: var(--dark);
  font-weight: 700;
  padding-top: 20px;
  position: relative;
  color: var(--medium);
}
.title::before {
  content: "";
  width: 80px;
  height: 64px;
  position: absolute;
  left: 50%;
  top: -2px;
  transform: translateX(-50%);
  border-top: 2px solid #d00;
}
@media screen and (min-width: 800px) {
  .title {
    font-size: 4em;
  }
}
.sub_title {
  width: 90%;
  color: var(--medium);
  text-align: center;
  margin: 10px auto;
}
